@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
body{
  margin:0px;
  padding:0px;
  background-color: #696969
}

input[type=submit]{
  width:100%;
  height:100%;
  border-style: none;
  border-radius: 4px;
  background-color:rgb(255, 166, 0);
  font-size: 40px;
  color:black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: color 0.3s, box-shadow 0.3s;
}

input[type=submit]:hover{
  box-shadow: 0 6px 9px rgba(0,0,0,0.16), 0 4px 7px rgba(0,0,0,0.23);
}

#logo{
  position: absolute;
  margin-top:0px;
  top:5px;
  font-size:12vw;
  left:120px;
  right: 120px;
  font-family:'Fjalla One', sans-serif;
  color:rgb(255, 166, 0);
  text-align: center;
  text-shadow: 0px 2px 6px #000000
}

#Login{
  grid-column: 2;
  width: 160px;
  height: 60px;
  grid-row: 2;
  align-self:stretch;
  margin-bottom: 0px;
}

#Register{
  grid-column: 4;
  grid-row: 2;
  width: 160px;
  height: 60px;
  align-self: stretch;
  margin-bottom: 0px;
}


#grid-body{
  display: grid;
  grid-template-columns: 1.55fr auto 1.7fr auto 2fr;
  grid-template-rows: 5fr 1fr 2fr;
}

